* {
  box-sizing: border-box;
  padding: 0;
  max-width: 425px;
  margin: 0 auto;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Pretendard', sans-serif;
}
